@import "~style/defines";

.grid {
  display: grid;
  grid-gap: 2vw;

  &.large {
    grid-template-columns: repeat(4, 1fr);
  }

  &.medium {
    grid-template-columns: repeat(3, 1fr);
  }

  &.small {
    grid-template-columns: repeat(2, 1fr);
  }

  &.compact {
    grid-gap: 1vw;
  }
}

@include screen($media-size-l) {
  .grid {
    &.large {
      grid-template-columns: repeat(3, 1fr);
    }
  
    &.medium {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include screen($media-size-m) {
  .grid {
    &.large {
      grid-template-columns: repeat(2, 1fr);
    }
  
    &.medium {
      grid-template-columns: repeat(1, 1fr);
    }
  
    &.small {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@include screen($media-size-s) {
  .grid {
    &.large {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
