@import "https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap";
@import "./defines";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background-color: #fff;
  color: $color-dark;
  font: 14px "Readex Pro", Arial, Tahoma, serif;
  overflow-x: hidden;
}

/**
 * Grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;

  &.large {
    grid-template-columns: repeat(3, 1fr);
  }

  &.thin {
    grid-gap: 1vw;
  }
}

@include screen($media-size-l) {
  .grid {
    grid-template-columns: repeat(3, 1fr);

    &.large {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include screen($media-size-m) {
  .grid {
    grid-template-columns: repeat(2, 1fr);

    &.large {
      grid-template-columns: 1fr;
    }
  }
}

@include screen($media-size-s) {
  .grid {
    grid-template-columns: 1fr;
  }
}
