@import "~style/defines";

.skeleton-item {
  animation: blink-effect 1s linear infinite alternate;
  background-color: #fff;

  &.inverse {
    background-color: #ccc;
  }
}

@keyframes blink-effect {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 0.25;
  }
}
