@import "~root/defines";

.job-item {
  position: relative;
  padding-left: 30px;
  color: #bbb;

  &::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: #fff;
    left: 0;
    top: 2px;
  }

  .period {
    margin: -1px 0 0 -5px;

    > span {
      display: inline-block;
      font-size: $font-size-s;
      line-height: $font-size-s;
      background-color: #000;
      padding: 1px 5px;
    }
  }

  .organization {
    margin-top: $gap-s;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: $font-size-xl;
    color: $color-second;
  }

  .position {
    margin-top: $gap-s;
    font-size: $font-size-m;
    line-height: $font-size-m;
    color: #fff;
  }

  .description {
    margin-top: $gap-xs;
    font-size: $font-size-s;
    line-height: $font-size-s + 0.5pt;
    font-weight: 100;
  }
}
