@import "~style/defines";

.contact-item {
  display: inline-block;
  background: left center no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
  position: relative;
  z-index: 2;

  &:hover,
  &:focus {
    transform: scale(1.4);
  }

  &.telegram {
    background-image: url("./images/icons/telegram.svg");
  }

  &.github {
    background-image: url("./images/icons/github.svg");
  }

  &.stackoverflow {
    background-image: url("./images/icons/stackoverflow.svg");
  }

  &.linkedin {
    background-image: url("./images/icons/linkedin.svg");
  }
}
