@import "~style/defines";

$section-wrapper-max-width: 1400px;
$section-wrapper-padding: 10%;

section {
  overflow: hidden;
  position: relative;

  > .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: calc($section-wrapper-max-width + $section-wrapper-padding);
    padding: $section-wrapper-padding;
  }

  .section-label {
    margin-bottom: 9%;
    border-bottom: 1px solid $color-light;
    padding-bottom: 3%;

    h4 {
      display: block;
      font-size: $font-size-xxl;
      line-height: $font-size-xxl;
      color: $color-dark-dim;
      text-transform: uppercase;
      transition: all 0.5s ease-out;
      transform: translateY(125%);
      opacity: 0;

      &.animate {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

@include screen($media-size-l) {
  section .section-label h4 {
    font-size: $font-size-xxl * 0.9;
    line-height: $font-size-xxl * 0.9;
  }
}

@include screen($media-size-m) {
  section .section-label h4 {
    font-size: $font-size-xxl * 0.8;
    line-height: $font-size-xxl * 0.8;
  }
}

@include screen($media-size-s) {
  section .section-label h4 {
    font-size: $font-size-xxl * 0.7;
    line-height: $font-size-xxl * 0.7;
  }
}
