@import "~style/defines";

section.stack-timeline {
  background-color: #111a26;

  .section-label {
    &::after {
      background-color: rgba($color-main, 0.4);
    }

    h4 {
      color: #fff;
    }
  }
}
