@use "sass:color";
@import "../../defines";

$repository-name-size: 18pt;

.package-item {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    background: rgba(255 255 255 / 40%);
    padding: 20px 25px;

    .name {
      margin-bottom: 15px;
      color: $color-main;
      font-weight: bold;
      font-size: $repository-name-size;
      line-height: $repository-name-size;
      text-transform: lowercase;
      white-space: nowrap;
    }

    .description {
      color: color.adjust($color-dark, $lightness: 10%);
      flex: 1;
      font-weight: 100;
      font-size: 11pt;
      line-height: 11pt;

      > span {
        display: block;
        margin-top: 3px;
      }
    }

    .meta {
      margin: 15px 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
      border-top: 1px solid rgba(0 0 0 / 5%);

      .marks {
        > span {
          background: #fff;
          color: $color-second;
          display: inline-block;
          padding: 2px 4px;
          font-size: 8pt;
          line-height: 8pt;
          text-transform: uppercase;

          &:not(:last-child) {
            margin-right: 5px;
          }

          &.type {
            color: #aaa;
            background: #eee;

            &.lib {
              color: #87cfff;
              background: color.adjust(#87cfff, $lightness: 21%);
            }

            &.framework {
              color: #98d485;
              background: color.adjust(#98d485, $lightness: 29%);
            }

            &.game {
              color: #d1759e;
              background: color.adjust(#d1759e, $lightness: 33%);
            }
          }
        }
      }

      .data {
        margin-left: 10px;
        display: flex;

        .count {
          padding-left: 17px;
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: left center;
          color: #777;
          font-size: 9pt;
          line-height: 9pt;
          height: 12px;

          &.forks {
            background-image: url("./images/icons/fork.svg");
            margin-right: 10px;
          }

          &.likes {
            background-image: url("./images/icons/like.svg");
          }
        }
      }
    }

    &:hover,
    &:focus {
      background: rgba(255 255 255 / 60%);

      .name,
      .description {
        color: $color-dark;
      }
    }
  }
}

@include screen($media-size-l) {
  .package-item .container .name {
    font-size: $repository-name-size * 0.95;
    line-height: $repository-name-size * 0.95;
  }
}

@include screen($media-size-m) {
  .package-item .container .name {
    font-size: $repository-name-size * 0.9;
    line-height: $repository-name-size * 0.9;
  }
}

@include screen($media-size-s) {
  .package-item .container .name {
    font-size: $repository-name-size * 0.8;
    line-height: $repository-name-size * 0.8;
  }
}
